<!DOCTYPE html>
<html>
 <head>
  <title>顯示所有消費紀錄</title>
 </head>
 <body>
  <h2>顯示所有消費紀錄</h2>
  <table border="1" cellpadding="0" cellspacing="0">
   <th>名稱</th><th>費用</th>
   {% for expense in expenses %}
    <tr>
     <td>{{ expense.name }} </td>
     <td>{{ expense.price }} </td>
     <td><a href="delete/{{ expense.id }}">刪除</a></td>
     
    </tr>
   {% endfor %}
  </table>

  <form action="insert/" method="post">
    {% csrf_token %}
    <label for="fname">名稱:</label>
    <input type="text" id="fname" name="name"><br><br>
    <label for="lname">費用:</label>
    <input type="text" id="lname" name="price"><br><br>
    <input type="submit" value="Submit">
  </form>
 </body>
</html>